<% layout('layout/page') -%>
<% block('title', 'Velocity Report') -%>

<div id="container" class="container" ng-controller="velocityChartController">
    <div class="row">
        <div class="col-sm-2">
            <label class="control-label">View Type</label>
            <select class="form-control" ng-model="common.viewType" ng-options="c.id as c.title for c in viewTypes"
                    ng-change="reInit()"></select>
        </div>
    </div>
    </br>

    </br>

    <div class="row" ng-switch on="common.viewType">
        <div class="container" ng-switch-when="Velocity">
            <div class="row">
                <div class="col-sm-2" ng-repeat="ser in chartConfig.series">
                    <label class="col-sm-2 control-label">{{ser.name}}</label>
                    <select class="form-control" ng-model="ser.type"
                            ng-options="c.id as c.title for c in chartTypes"></select>
                </div>
            </div>
            <div class="row">
                <highchart id="chart1" class="col-sm-12" config="chartConfig"></highchart>
            </div>
        </div>

        <div ng-switch-when="Progress">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Team</th>
                        <th>User</th>
                        <th>Key</th>
                        <th>Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dateGroup in progressData.dates">
                        <td class="vcenter" style="padding-bottom: 28px;">{{dateGroup.date | date:'yyyy-MM-dd'}}</td>
                        <td colspan="4">
                            <table class="table" ng-repeat="team in dateGroup.teams">
                                <tbody>
                                    <tr class="progress_no_top_line">
                                        <td style="width: 140;" class="vcenter">{{team.name}}</td>
                                        <td>
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr ng-repeat="page in team.pages">
                                                        <td >{{team.name}}</td>
                                                        <td><a href={{value.uri}}>{{page.key}}</a></td>
                                                        <td>{{page.person}}</td>
                                                        <td>{{page.progress | number : 2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

