<% layout('index') -%>
<% block('title', "weekly") -%>
<div id="container" class="container" ng-controller="pagebysizeChartController">
    <highchart id="chart1" config="chartConfig"></highchart>
</div>
