<% layout('index') -%>
<% block('title', "progress") -%>
<div id="container" class="container" ng-controller="progressTableController">
    <div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th style="width: 157px">Team</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dateGroup in progressData.dates">
            <td class="vcenter" style="padding-bottom: 28px;"><strong>{{dateGroup.date | date:'yyyy-MM-dd'}}</strong>
            </td>
            <td colspan="4" class="progress_table_no_end_line">
                <table class="table" ng-repeat="team in dateGroup.teams">
                    <tbody>
                    <tr class="progress_no_top_line">
                        <td class="progress_fixed_width vcenter">{{team.name}}</td>
                        <td class="progress_table_no_end_line">
                            <table class="table table-striped">
                                <tbody>
                                    <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Key</th>
                                        <th>Progress SP</th>
                                        <th>Sum Progress SP</th>
                                        <th>Story Points</th>
                                        <th>Sum Dev Spent</th>
                                        <th>Sum QA Spent</th>
                                        <th>Prognosed Dev Time/Estimated Time</th>
                                    </tr>
                                    </thead>
                                <tr class="progress_fixed_width" ng-repeat="page in team.pages" ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen }">
                                    <td>{{page.person}}</td>
                                    <td><a href={{page.uri}}>{{page.key}}</a></td>
                                    <td>{{page.progress | number : 2}}</td>
                                    <td>{{page.sumprogress}}</td>
                                    <td>{{page.storypoints}}</td>
                                    <td>{{page.devspent}}h</td>
                                    <td>{{page.qaspent}}h</td>
                                    <td>{{page.estimated}}h</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div> <!-- /container -->
