<% layout('index') -%>
<% block('title', "weekly") -%>
<div id="container" class="container" ng-controller="weeklyChartController">
    <highchart id="chart1" class="col-sm-12" config="chartConfig"></highchart>
</div>
