<% layout('index') -%>
<% block('title', "weekly") -%>
<div id="container" class="container" ng-controller="weeklyChartController">
    <div class="row">
        <div class="container">
            <div class="row">
                <highchart id="chart1" class="col-sm-12" config="chartConfig"></highchart>
            </div>
        </div>
    </div>
</div>
