body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #007fa8;
}

table {
    max-width: 2000px !important;
}
 /*------------------------------------Common---------------------------*/
.progress_no_top_line > td {
    border-top: none !important;
}

.vcenter {
    vertical-align: middle !important;
}

.sorted_column{
    cursor: pointer;
}

.spinner{
    height: 60px;
    width: 60px;
    display: block;
    background: url('/img/Spinner.gif') no-repeat;
}

.top_padding_15{
    padding-top: 15px;
}

/*------------------------------------End_Common---------------------------*/

/*----------------------------------Dashboard------------------------------*/

.glyphicon.glyphicon-sort{
    font-size: 8pt;
}

/*----------------------------------End Dashboard------------------------------*/

.progressTableMainHeader>tr>th
{
    vertical-align: top;
}

.headerSelectWidth
{
    width: auto;
}

.progress_fixed_width,
.progress_fixed_width > td {
    width: 150px;
}

.progress_table_no_end_line > table:last-child {
    margin-bottom: 0;
}

.no-padding td,
.no-padding a
{
 padding: 0 !important;
}

.table-timesheet-hover > tbody > tr:hover > td,
.table-timesheet-hover > tbody > tr:hover > th {
    background-color: #d9edf7;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E0E0E0;
}

.hour-timesheet-color{
    color: #CC6633;
}

.form-actions
{
    padding: 19px 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

#page_progress,
#issue_progress
{
    width: 218px;
    background: #666;
    color: #FF0000;
    border: 1px solid #ccc;
    height: 28px;
}

#page_progress .bar,
#issue_progress .bar
{
    display: inline-block;
    background: #3d3;
    width: 0;
    height: 28px;
}

#card_progress
{
    border: solid #cccccc 2px;
    border-radius: 5px;
    /* Dimensions */
    height: 10px;
    background: #FF0000;
    margin-bottom: 0px !important;
}

#card_progress .bar
{
    display: block;
    background: #3d3;
    width: 0;
    height: 8px;
}

.help-icon
{
    cursor: help;
}


.red
{
    background-color: #ff8082 !important;
}

.yellow
{
    background-color: #fbdc8c !important;
}

.green
{
    background-color: #7fc48c !important;
}

.blocked
{
    background-color: #ffbec9 !important;
}

.accepted
{
    background-color: #ede8ed !important;
}

.cancelled
{
    background-color: #a8a1fa !important;
}

.readyForAcceptance
{
    background-color: #7fc48c !important;
}

.readyForQA
{
    background-color: #fafabf !important;
}

.done {
    text-decoration: line-through !important;
}

.key {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.summary {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

thead th {
    background-color: #73c0ff;
    color: white;
    height: 35px;
}

tfoot td {
    font-weight: bold;
    background-color: #73c0ff ;
    color: white;
    height: 35px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-top: 8px !important;
}

tr {
    height: 35px;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table_cell_border{
    border-color: #0028c1 !important;
    border-width: 1px !important;
}

.disp-block {
    display: block;
    width: 100%;
}