body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #007fa8;
}

table {
    max-width: 4000px !important;
}
 /*------------------------------------Common---------------------------*/
.progress_no_top_line > td {
    border-top: none !important;
}

.vcenter {
    vertical-align: middle !important;
}

.sorted_column{
    cursor: pointer;
}

.spinner{
    height: 60px;
    width: 60px;
    display: block;
    background: url('/img/Spinner.gif') no-repeat;
}

.top_padding_15{
    padding-top: 15px;
}

/*------------------------------------End_Common---------------------------*/

/*----------------------------------Dashboard------------------------------*/

.glyphicon.glyphicon-sort{
    font-size: 8pt;
}

/*----------------------------------End Dashboard------------------------------*/

.progressTableMainHeader>tr>th
{
    vertical-align: top;
}

.headerSelectWidth
{
    width: auto;
}

.progress_fixed_width,
.progress_fixed_width > td {
    width: 150px;
}

.progress_table_no_end_line > table:last-child {
    margin-bottom: 0;
}

.no-padding td,
.no-padding a
{
 padding: 0 !important;
}

.list-group-item .checkbox{
    margin-top: 0;
    margin-bottom: 0;
}

.table-timesheet-hover > tbody > tr:hover > td,
.table-timesheet-hover > tbody > tr:hover > th {
    background-color: #d9edf7;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E0E0E0;
}

.hour-timesheet-color{
    color: #CC6633;
}

.form-actions
{
    padding: 19px 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.card-progress
{
    height: 5px;
    width: 130px;
    margin: 5px !important;
}

.help-icon
{
    cursor: help;
}


.red
{
    background-color: #ff8082 !important;
}

.yellow
{
    background-color: #fbdc8c !important;
}

.green
{
    background-color: #7fc48c !important;
}

.blocked
{
    background-color: #ffbec9 !important;
}

.accepted
{
    background-color: #ede8ed !important;
}

.production
{
    background-color: #7fc48c !important;
}

.cancelled
{
    background-color: #a8a1fa !important;
}

.readyForAcceptance
{
    background-color: #a5f7b2 !important;
}

.readyForQA
{
    background-color: #fafabf !important;
}

.done {
    text-decoration: line-through !important;
}

.key {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.summary {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table_cell_border{
    border-color: #0028c1 !important;
    border-width: 1px !important;
}

.cards-table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.disp-block {
    display: inline-block;
    margin: 0px;
}

.week-header {
}

section.sidebar{
    float: left;
    width: 250px;
}
section.sideCollapseButton{
    float: left;
    font-size: 30px;
    border: 1px solid #ddd;
    width: 37px;
    margin-left: 1px;
    background-color: #d9edf7
}

section.contentShowSidebar {
    padding-left: 250px;
}
section.contentHideSidebar {
    padding-left: 38px;
}

.completion-red {
    background-color: #ff0000;
    color: #ffffff;
}

.completion-yellow {
    background-color: #ffff00;
    color: brown;
}

.completion-green {
    background-color: lightgreen;
    color: green;
}

.completion-blue {
    color: #050e80;
}

.end-of-year {
    background-color: #f7f0da;
}

.current-week {
    background-color: #d5e4cc;
}

.card-full {
    position: relative;
    min-height: 100px;
    width: 150px;
    margin-bottom: 15px;
}

.card-high {
    min-height: 350px !important;
}

.card-module {
    min-height: 150px !important;
}

.card-background-hover {
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 100px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;
}

.card-content {
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 99;
}

.cards-column {
    list-style-type: none;
    padding: 0;
}

.card-size {
    background-color: rgb(118, 162, 250);
    color: rgb(255, 255, 255);
    border: 2px solid #eff;
    min-width: 16px;
    text-align: center;
    float: left;
}

.card-pages {
    background-color: rgb(10, 176, 108);
    color: rgb(250, 255, 255);
    border: 2px solid #fdffff;
    min-width: 16px;
    text-align: center;
    float: left;
}

.card-left {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    position: absolute;
    bottom: 10px;
    right: 16px;
}

.card-icon {
    float: right;
    height: 20px;
    width: 20px;
    margin: 2px;
}

.card-icons {
    position: absolute;
    z-index: 99;
    bottom: -10px;
    margin-right: -16px;
    width: 150px;
    height: 25px;
    float: right;
}

.card-link {
    word-wrap: break-word;
    max-width: 135px;
    display: block;
}

.total-size {
    background-color: rgb(118, 162, 250);
    color: rgb(255, 255, 255);
    border: 2px solid #6078ff;
    text-align: center;
    padding: 2px;
}

.total-comments {
    color: rgb(164, 164, 164);
}

.total-left {
    font-style: italic;
    font-size: x-large;
}
