body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #007fa8;
}

table {
    max-width: 4000px !important;
}
 /*------------------------------------Common---------------------------*/
.progress_no_top_line > td {
    border-top: none !important;
}

.vcenter {
    vertical-align: middle !important;
}

.sorted_column{
    cursor: pointer;
}

.spinner{
    height: 60px;
    width: 60px;
    display: block;
    background: url('/img/Spinner.gif') no-repeat;
}

.top_padding_15{
    padding-top: 15px;
}

/*------------------------------------End_Common---------------------------*/

/*----------------------------------Dashboard------------------------------*/

.glyphicon.glyphicon-sort{
    font-size: 8pt;
}

/*----------------------------------End Dashboard------------------------------*/

.progressTableMainHeader>tr>th
{
    vertical-align: top;
}

.headerSelectWidth
{
    width: auto;
}

.progress_fixed_width,
.progress_fixed_width > td {
    width: 150px;
}

.progress_table_no_end_line > table:last-child {
    margin-bottom: 0;
}

.no-padding td,
.no-padding a
{
 padding: 0 !important;
}

.list-group-item .checkbox{
    margin-top: 0;
    margin-bottom: 0;
}

.table-timesheet-hover > tbody > tr:hover > td,
.table-timesheet-hover > tbody > tr:hover > th {
    background-color: #d9edf7;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E0E0E0;
}

.hour-timesheet-color{
    color: #CC6633;
}

.form-actions
{
    padding: 19px 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.card-progress
{
    border: solid #cccccc 1px;
    border-radius: 1px;
    /* Dimensions */
    height: 10px;
    margin-b: 0px !important;
}

.help-icon
{
    cursor: help;
}


.red
{
    background-color: #ff8082 !important;
}

.yellow
{
    background-color: #fbdc8c !important;
}

.green
{
    background-color: #7fc48c !important;
}

.blocked
{
    background-color: #ffbec9 !important;
}

.accepted
{
    background-color: #ede8ed !important;
}

.production
{
    background-color: #7fc48c !important;
}

.cancelled
{
    background-color: #a8a1fa !important;
}

.readyForAcceptance
{
    background-color: #a5f7b2 !important;
}

.readyForQA
{
    background-color: #fafabf !important;
}

.done {
    text-decoration: line-through !important;
}

.key {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.summary {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table_cell_border{
    border-color: #0028c1 !important;
    border-width: 1px !important;
}

.cards-table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.disp-block {
    display: inline-block;
    margin: 0px;
}

.week-header {
}

section.sidebar{
    float: left;
    width: 250px;
}
section.sideCollapseButton{
    float: left;
    font-size: 30px;
    border: 1px solid #ddd;
    width: 37px;
    margin-left: 1px;
    background-color: #d9edf7
}

section.contentShowSidebar {
    padding-left: 250px;
}
section.contentHideSidebar {
    padding-left: 38px;
}

.completion-red {
    background-color: #ff0000;
    color: #ffffff;
}

.completion-yellow {
    background-color: #ffff00;
    color: brown;
}

.completion-green {
    background-color: lightgreen;
    color: green;
}

.completion-blue {
    background-color: #b8ecff;
    color: #050e80;
}

.end-of-year {
    background-color: #f7f0da;
}

.current-week {
    background-color: #d5e4cc;
}