body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.progress_no_top_line > td {
    border-top: none !important;
}

.vcenter {
    vertical-align: middle !important;
}

.progress_fixed_width,
.progress_fixed_width > td {
    width: 150px;
}

.progress_table_no_end_line > table:last-child {
    margin-bottom: 0px;
}

#progress {
    width: 218px;
    background: #666;
    color: #FF0000;
    border: 1px solid #ccc;
    height: 28px;
}

#progress .bar {
    display: inline-block;
    background: #3d3;
    width: 0%;
    height: 28px;
}

.red
{
    background-color: #da4f49 !important;
}

.yellow
{
    background-color: #fbb450 !important;
}

.green
{
    background-color: #219161 !important;
}

.done {
    text-decoration: line-through !important;
}