body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.progress_no_top_line > td
{
    border-top: none !important;
}

.vcenter {
    vertical-align: middle !important;
}