<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Main</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="/updatejira">Reload JIRA Info</a></li>
  </ul>
</nav>