<div ng-controller="IssuesLinkedToManyPagesController" class="col-lg-12">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="glyphicon glyphicon-th-list"></span> Issues by blocked pages
        </div>
        <div class="panel-body" style="height: 500px; overflow: auto">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Key</th>
                    <th>Type</th>
                    <th class="sorted_column" ng-click="onSortingClick('blockers')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Blocks
                        <span ng-show="sortingModel.selected == 'blockers'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span>
                    </th>
                    <th>Status</th>
                    <th>Teams Involved</th>
                    <th class="sorted_column" ng-click="onSortingClick('assignee')"><span class="glyphicon glyphicon-sort"></span> Assignee
                        <span ng-show="sortingModel.selected == 'assignee'">&nbsp;
                            <span ng-show="sortingModel.isASC == true">▴</span>
                            <span ng-show="sortingModel.isASC == false">▾</span>
                        </span>
                    </th>
                    <th class="sorted_column" ng-click="onSortingClick('daysAgo')"><span class="glyphicon glyphicon-sort"></span> Updated day ago
                        <span ng-show="sortingModel.selected == 'daysAgo'">&nbsp;
                            <span ng-show="sortingModel.isASC == true">▴</span>
                            <span ng-show="sortingModel.isASC == false">▾</span>
                        </span>
                    </th>
                </tr>
                <tr ng-repeat="issue in IssuesLinkedToManyPagesList | filter:filterBlocksIssues" ng-init="status = statuses.getStatusByName(issue.status)">
                    <td>
                        <span ng-if="issue.isHotIssue" class="glyphicon glyphicon-warning-sign" tooltip="HotIssue"></span>
                        <span ng-if="issue.isF5Issue" class="glyphicon glyphicon-wrench" tooltip="F5 Issue"></span>
                    </td>
                    <td><a href={{"https://jira.epam.com/jira/browse/"+issue.key}}>{{issue.key}}</a></td>
                    <td ng-switch="issue.type">
                        <span ng-switch-when='Issue' tooltip="Issue"><span class="glyphicon glyphicon-info-sign"></span></span>
                        <span ng-switch-when='Question' tooltip="Question"><span class="glyphicon glyphicon-question-sign"></span></span>
                        <span ng-switch-when='Improvement' tooltip="Improvement"><span class="glyphicon glyphicon-plus-sign"></span></span>
                        <span ng-switch-when='Bug' tooltip="Bug"><span class="glyphicon glyphicon-ban-circle"></span></span>
                        <span ng-switch-default>{{issue.type}}</span>
                        </td>
                    <td>{{issue.blockersCount}}</td>
                    <td><span tooltip="{{status.name}}"><span class="{{status.cssIcon}}"></span></span></td>
                    <td><span ng-repeat="team in issue.teamsInvolved track by $index"> {{team}} </span></td>
                    <td>{{issue.assignee}}</td>
                    <td>{{issue.lastDaysAgo}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>