<div id="container" class="container-fluid" ng-controller="dashboardController">

<div class="row">
    <div ng-controller="IssuesLinkedToManyPagesController" style="height: 500px; overflow: auto" class="col-lg-4">
        Widget IssuesLinkedToManyPagesController
        <br/>
        <ul ng-repeat="issue in IssuesLinkedToManyPagesList">
            <li>
                <span ng-if="issue.isHotIssue" class="glyphicon glyphicon-warning-sign" alt="HotIssue"></span> Teams Involved:[<span ng-repeat="team in issue.teamsInvolved"> {{team}}; </span>] - Blocks:{{issue.blockersCount}} - <a href={{"https://jira.epam.com/jira/browse/"+issue.key}}>{{issue.key}}</a>
            </li>
        </ul>
    </div>
</div>

</div>