<div id="container" class="container" ng-controller="moduleProgressController" style="padding-left: 150px">
    <div class="visible-md visible-lg visible-sm" style="position:fixed; left: 10px; top:150px; font-size: 12pt ">
        <ul class="list-unstyled">
            <li><input type="checkbox" ng-model="filterEod" ng-change="onFilterEod()"><img width="40" height="40" alt="EOY" src="img/cartoon-santa.jpg"/>EOY Modules</li>
            <li>SME:<select class="form-control headerSelectWidth" ng-model="filteredSme" class="headerSelectWidth" ng-options="sme.name as sme.name for sme in allSMEs" ng-change="filterModule()"></select></li>
            <li>Module Group:<select class="form-control headerSelectWidth" ng-model="filteredMG" class="headerSelectWidth" ng-options="moduleGroup.name as moduleGroup.name for moduleGroup in allModuleGroups" ng-change="filterModule()"></select></li>
            <li>Team:<select class="form-control headerSelectWidth" ng-model="filteredTeam" class="headerSelectWidth" ng-options="team.name as team.name for team in allTeams" ng-change="filterModule()"></select></li>
            <li><input type="checkbox" ng-model="total.inProgress.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-play"></span><strong> {{total.inProgress.count}}</strong>:In Progress</li>
            <li class="readyForQA"><input type="checkbox" ng-model="total.readyForQA.isChecked" ng-change="processWithRowSpans()"> <span class="glyphicon glyphicon-th-list"></span><strong> {{total.readyForQA.count}}</strong>:Testing is in prog</li>
            <li class="readyForAcceptance"><input type="checkbox" ng-model="total.resolved.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-check"></span><strong> {{total.resolved.count}}</strong>:Resolved</li>
            <li class="accepted"><input type="checkbox" ng-model="total.accepted.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-star"></span><strong> {{total.accepted.count}}</strong>:Accepted</li>
            <li class="cancelled"><input type="checkbox" ng-model="total.cancelled.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-ban-circle"></span><strong> {{total.cancelled.count}}</strong>:Out Of Scope</li>
            <li class="cancelled"><input type="checkbox" ng-model="total.notApplicable.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-ban-circle"></span><strong> {{total.notApplicable.count}}</strong>:Not Applicable</li>
            <li><br/></li>
            <li><input type="checkbox" ng-model="total.all.isChecked" ng-change="onSelectDeselectAll()"><span class="glyphicon glyphicon-shopping-cart"></span><strong> {{total.total}}</strong>:Total</li>
            <li><br/></li>
            <li><label><span class="glyphicon glyphicon-asterisk"></span><strong>{{total.pages}}</strong>:Story Points</label></li>
        </ul>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead class="progressTableMainHeader">
                <tr>
                    <th class="sorted_column" ng-click="onSortingClick('progress')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Progress
                        <span ng-show="sortingModel.selected == 'progress'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span>
                    </th>
                    <th class="sorted_column" ng-click="onSortingClick('dueDate')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Due Date
                        <span ng-show="sortingModel.selected == 'dueDate'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th class="sorted_column" ng-click="onSortingClick('smeName')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> SME
                        <span ng-show="sortingModel.selected == 'smeName'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th class="sorted_column" ng-click="onSortingClick('moduleGroup')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Link
                        <span ng-show="sortingModel.selected == 'moduleGroup'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th>Teams</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "module in updatedModuleProgressData">
                    <td>
                        <div id="page_progress"><span class="bar" ng-style="{width: module.progress2}"></span></div>
                        <div>{{module.progress2}}</div>
                        <div>{{module.reportedSP | number : 0}}/{{module.summarySP | number : 0}} SP</div>
                    </td>
                    <td>
                        <div>{{module.duedate2 | date:'MMM-dd-yyyy'}}</div>
                        <img ng-show="module.endOfYearDelivery" width="40" height="40" alt="EOY" src="img/cartoon-santa.jpg"/>
                    </td>
                    <td>
                        <table>
                            <div>{{module.smename}}</div>
                        </table>
                    </td>
                    <td ng-class="{red: isUnknownExist(module.name),
                                    accepted: module.accepted,
                                    readyForAcceptance: module.readyForAcceptance,
                                    readyForQA: module.readyForQA,
                                    cancelled: module.cancelled}">
                        <a href="{{module.uri}}">{{module.name}}</a>
                        <div>Group: {{module.moduleGroup}}</div>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat = "team in module.teamnames">
                                <td class="table_cell_border">
                                    <div>{{team}}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
