<div id="container" class="container" ng-controller="moduleProgressController" style="padding-left: 150px">
    <div class="visible-md visible-lg visible-sm" style="position:fixed; left: 10px; top:80px; font-size: 12pt ">
        <ul class="list-unstyled">
            <li class="red"><input type="checkbox" ng-model="showTeamTable"> Kanban board</li>
            <li><input type="checkbox" ng-model="showStreams" ng-change="processWithRowSpans()"> Streams</li>
            <li><input type="checkbox" ng-model="showCards" ng-change="processWithRowSpans()"> Cards</li>
            <li><input type="checkbox" ng-model="showModules" ng-change="processWithRowSpans()"> SME / Modules</li>
            <li><br/></li>
            <li><img width="40" height="40" alt="Conf" src="img/duedate.png"/> DueDate confirmed</li>
            <li><br/></li>
            <li>Fix Version:<select class="form-control headerSelectWidth" ng-model="filteredVersion" class="headerSelectWidth" ng-options="version.name as version.name for version in allVersions" ng-change="processWithRowSpans()"></select></li>
            <li>SME:<select class="form-control headerSelectWidth" ng-model="filteredSme" class="headerSelectWidth" ng-options="sme.name as sme.name for sme in allSMEs" ng-change="processWithRowSpans()"></select></li>
            <li>Module Group:<select class="form-control headerSelectWidth" ng-model="filteredMG" class="headerSelectWidth" ng-options="moduleGroup.name as moduleGroup.name for moduleGroup in allModuleGroups" ng-change="processWithRowSpans()"></select></li>
            <li>Team:<select class="form-control headerSelectWidth" ng-model="filteredTeam" class="headerSelectWidth" ng-options="team.name as team.name for team in allTeams" ng-change="processWithRowSpans()"></select></li>
            <li><br/></li>
            <li><input type="checkbox" ng-model="total.inProgress.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-play"></span><strong> {{total.inProgress.count}}</strong>:In Progress</li>
            <li class="readyForQA"><input type="checkbox" ng-model="total.readyForQA.isChecked" ng-change="processWithRowSpans()"> <span class="glyphicon glyphicon-th-list"></span><strong> {{total.readyForQA.count}}</strong>:Testing is in prog</li>
            <li class="readyForAcceptance"><input type="checkbox" ng-model="total.resolved.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-check"></span><strong> {{total.resolved.count}}</strong>:Resolved</li>
            <li class="accepted"><input type="checkbox" ng-model="total.accepted.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-star"></span><strong> {{total.accepted.count}}</strong>:Accepted</li>
            <li class="cancelled"><input type="checkbox" ng-model="total.cancelled.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-ban-circle"></span><strong> {{total.cancelled.count}}</strong>:Out Of Scope</li>
            <li class="cancelled"><input type="checkbox" ng-model="total.notApplicable.isChecked" ng-change="processWithRowSpans()"><span class="glyphicon glyphicon-ban-circle"></span><strong> {{total.notApplicable.count}}</strong>:Not Applicable</li>
            <li><br/></li>
            <li><input type="checkbox" ng-model="total.all.isChecked" ng-change="onSelectDeselectAll()"><span class="glyphicon glyphicon-shopping-cart"></span><strong> {{total.total}}</strong>:Total</li>
            <li><br/></li>
            <li><label><span class="glyphicon glyphicon-asterisk"></span><strong>{{total.doneSP | number : 0}}/{{total.summSP | number : 0}}</strong>:SP</label></li>
        </ul>
    </div>



    <div class="row" ng-show="showTeamTable">
        <table class="table table-bordered">
            <thead class="progressTableMainHeader">
            <tr>
                <th>Teams</th>
                <th ng-repeat="version in showVersions">{{version}}</th>
            </tr>
                <tr ng-repeat = "team in teamLoadData">
                    <div ng-repeat="version in showVersions">
                    <td class="bg-success">
                        <div>{{team.name}}</div>
                    </td>
                    <td ng-repeat="version in team.versions">
                        <div>
                            <sup style="color: blue">{{version.done | number : 0}}/</sup><sup style="color: darkred">{{version.total | number : 0}}</sup><span style="font-style: italic">{{version.restSP | number : 0}}</span></div>
                        <table class="table table-condensed" ng-if="showCards">
                            <tr ng-repeat = "card in version.smeNames">
                                <td ng-class="{accepted: card.accepted,
                                    readyForAcceptance: card.readyForAcceptance,
                                    readyForQA: card.readyForQA,
                                    cancelled: card.cancelled,
                                    'bg-info': true}">
                                    <div>{{card.name}}</div><div><sup style="color: blue">{{card.reportedSP | number : 0}}/</sup><sup style="color: darkred">{{card.summarySP | number : 0}}</sup><span style="font-style: italic">{{card.restSP | number : 0}}</span></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    </div>
                </tr>
        </table>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead class="progressTableMainHeader">
                <tr>
                    <th class="sorted_column" ng-click="onSortingClick('progress')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Progress
                        <span ng-show="sortingModel.selected == 'progress'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span>
                    </th>
                    <th class="sorted_column" ng-click="onSortingClick('dueDate')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Due Date
                        <span ng-show="sortingModel.selected == 'dueDate'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th class="sorted_column" ng-click="onSortingClick('smeName')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> SME
                        <span ng-show="sortingModel.selected == 'smeName'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th class="sorted_column" ng-click="onSortingClick('moduleGroup')"><span class="glyphicon glyphicon-sort" style="font-size: 8pt"></span> Link
                        <span ng-show="sortingModel.selected == 'moduleGroup'">&nbsp;
                            <span ng-show="sortingModel.isASC">▴</span>
                            <span ng-show="!sortingModel.isASC">▾</span>
                        </span></th>
                    <th>Teams</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "module in updatedModuleProgressData">
                    <td>
                        <div id="page_progress"><span class="bar" ng-style="{width: module.progress2}"></span></div>
                        <div>{{module.progress2}}</div>
                        <div>{{module.reportedSP | number : 0}}/{{module.summarySP | number : 0}} SP</div>
                    </td>
                    <td>
                        <div>{{module.duedate2 | date:'MMM-dd-yyyy'}}</div>
                        <img ng-show="module.dueDateConfirmed" width="40" height="40" alt="Conf" src="img/duedate.png"/>
                    </td>
                    <td>
                        <table>
                            <div>{{module.smename}}</div>
                        </table>
                    </td>
                    <td ng-class="{red: isUnknownExist(module.name),
                                    accepted: module.accepted,
                                    readyForAcceptance: module.readyForAcceptance,
                                    readyForQA: module.readyForQA,
                                    cancelled: module.cancelled}">
                        <a href="{{module.uri}}">{{module.name}}</a>
                        <div>Group: {{module.moduleGroup}}</div>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat = "team in module.teamnames">
                                <td class="table_cell_border">
                                    <div>{{team}}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg" ng-click="onEstimatesButtonClick()">
        Launch demo modal
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delivery Estimation</h4>
                </div>
                <div class="modal-body container">

                    <fieldset class="row">
                        <legend>Employee count</legend>
                        <div class="row" ng-repeat="streamName in estimation.team.streams">
                                <label class="col-lg-2 control-label" for="{{streamName + 'DevCapacity'}}">{{streamName}} Dev</label>
                                <div  class="col-lg-2">
                                    <input type="number" class="form-control" id="{{streamName + 'DevCapacity'}}" placeholder="Developers" ng-model="estimation.streams[streamName].devCapacity"  ng-change="onEstimationCalculateButton()">
                                </div>

                                <label class="col-lg-2 control-label" for="{{streamName + 'QACapacity'}}">QA</label>
                                <div  class="col-lg-2">
                                    <input type="number" class="form-control" id="{{streamName + 'QACapacity'}}" placeholder="QAs" ng-model="estimation.streams[streamName].qaCapacity" ng-change="onEstimationCalculateButton()">
                                </div>
                        </div>
                    </fieldset>

                    <fieldset class="row">
                        <legend>Velocity</legend>
                        <label class="col-lg-2 control-label" for="dayDevSpVelocity">Dev velocity (sp/day)</label>
                        <div  class="col-lg-2">
                            <input type="number" class="form-control" id="dayDevSpVelocity" placeholder="SP per day" ng-model="estimation.dayDevSpVelocity" ng-change="onEstimationCalculateButton()">
                        </div>

                        <label class="col-lg-2 control-label" for="dayQaSpVelocity">Qa velocity (sp/day)</label>
                        <div  class="col-lg-2">
                            <input type="number" class="form-control" id="dayQaSpVelocity" placeholder="SP per day" ng-model="estimation.dayQaSpVelocity" ng-change="onEstimationCalculateButton()">
                        </div>
                    </fieldset>

                    <fieldset class="row">
                        <legend>Risks</legend>

                        <label class="col-lg-2 control-label" for="devRisk">Dev risk, %</label>
                        <div  class="col-lg-2">
                            <input type="number" class="form-control" id="devRisk" placeholder="SP per day" ng-model="estimation.devRisk" ng-change="onEstimationCalculateButton()">
                        </div>

                        <label class="col-lg-2 control-label" for="qaRisk">Qa risk, %</label>
                        <div  class="col-lg-2">
                            <input type="number" class="form-control" id="qaRisk" placeholder="SP per day" ng-model="estimation.qaRisk" ng-change="onEstimationCalculateButton()">
                        </div>

                        <label class="col-lg-2 control-label" for="acceptanceDaysGap">Acceptance risk (days)</label>
                        <div  class="col-lg-2">
                            <input type="number" class="form-control" id="acceptanceDaysGap" placeholder="acceptanceDaysGap" ng-model="estimation.acceptanceDaysGap" ng-change="onEstimationCalculateButton()">
                        </div>
                    </fieldset>

                    <div class="row" ng-repeat="(streamKey,streamValue) in estimation.streams">
                        <h2>{{streamKey}}</h2>
                        <table class="table-bordered table-striped ">
                            <tr>
                                <td>Due Date</td>
                                <td>Module Name / SME</td>
                                <td>Total SP</td>
                                <td>Left SP</td>
                                <td>Left dev(days)</td>
                                <td>Left qa(days)</td>
                                <td>End Development</td>
                                <td>End QA</td>
                                <td>Acceptance</td>
                            </tr>
                            <tr ng-repeat="module in streamValue.modules">
                                <td style="width: 100px">{{module.duedate | date:'MMM-dd-yyyy'}}</td>
                                <td style="width: 300px">{{module.name}}</td>
                                <td style="width: 100px">{{module.summarySP}}</td>
                                <td style="width: 100px">{{module.summarySP - module.reportedSP | number:1}}</td>
                                <td style="width: 100px">{{module.devLeftWorkDays | number:1}}</td>
                                <td style="width: 150px">
                                    <div class="input-group">
                                        <span class="input-group-addon">auto:{{module.qaLeftWorkDays | number:1}}</span>
                                        <input type="number" class="form-control" ng-model="module.qaLeftCustomDays" ng-change="onEstimationCalculateButton()"/>
                                    </div>
                                </td>
                                <td class="{{dateEqualColor(module.duedate, module.endDevDate)}}">{{module.endDevDate | date: 'M/d/yyyy'}}</td>
                                <td class="{{dateEqualColor(module.duedate, module.endDevDate)}}">{{module.endQADate | date: 'M/d/yyyy'}}</td>
                                <td class="{{dateEqualColor(module.duedate, module.endDevDate)}}">{{module.endAccDate | date: 'M/d/yyyy'}}</td>
                            </tr>
                        </table>
                        <br/>
                    </div>

                    <!--<button type="button" class="btn btn-primary btn-lg"  ng-click="onEstimationCalculateButton()">-->
                        <!--Calculate-->
                    <!--</button>-->

                    <button type="button" class="btn btn-primary btn-lg"  ng-click="onEstimationClearButton()">
                        Reset Memory
                    </button>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>
