<div id="container" class="container" ng-controller="progressTableController">
    <div class="row">
        <table class="table table-bordered">
            <thead class="progressTableMainHeader">
            <tr>
                <th>Date</th>
                <th style="width: 157px">Team:<select class="form-control headerSelectWidth" ng-model="filteredTeam" class="headerSelectWidth" ng-options="team.id as team.name for team in allTeams"></select></th>
                <th>Data: <div class="checkbox">
                    <label>
                        <input ng-model="showOnlyTotal" type="checkbox"> Display Only Total
                    </label>
                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dateGroup in progressData.dates">
                <td class="vcenter" style="padding-bottom: 28px;"><strong>{{dateGroup.date | date:'yyyy-MM-dd'}}</strong>
                </td>
                <td colspan="4" class="progress_table_no_end_line">
                    <table class="table" ng-repeat="team in dateGroup.teams | filter: teamFilter">
                        <tbody>
                        <tr class="progress_no_top_line">
                            <td class="progress_fixed_width vcenter help-icon" tooltip-placement="left"  tooltip-html-unsafe="{{getReportMembersMissing(team)}}">{{team.name}}</td>
                            <td class="progress_table_no_end_line">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Key</th>
                                        <th>Progress SP</th>
                                        <th>Sum Progress SP</th>
                                        <th>Story Points</th>
                                        <th>Sum Dev Spent</th>
                                        <th>Sum QA Spent</th>
                                        <th>Prognosed Dev Time/Estimated Time</th>
                                        <th>Blockers</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="progress_fixed_width" ng-repeat="page in team.pages" ng-if="!showOnlyTotal">
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.person}}</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }"><a ui-sref="page({id: page.key})">{{page.key}}</a></td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.progress | number : 2}}</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.sumprogress}}</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.storypoints}}</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.devspent | number : 2}}h</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.qaspent | number : 2}}h</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.estimated}}h</td>
                                        <td ng-class="{red: page.isRed, yellow: page.isYellow, green: page.isGreen, done: page.isDone }">{{page.blockersnum}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><strong>Total:</strong></td>
                                        <!--<td><a href={{page.uri}}>{{page.key}}</a></td>-->
                                        <td>{{getSumProgress(team.pages) | number : 2}}</td>
                                        <td colspan="6"><strong>Target:</strong> (13dev * ~2.5sp) = ~30sp</td>
                                        <!--<td>{{page.storypoints}}</td>-->
                                        <!--<td>{{page.devspent}}h</td>-->
                                        <!--<td>{{page.qaspent}}h</td>-->
                                        <!--<td>{{page.estimated}}h</td>-->
                                        <!--<td>{{page.blockersnum}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
