<div id="container" class="container" ng-controller="timeSheetController">
    <div class="row">
            <div class="col-sm-4">
                <label for="dateFrom">From</label>
                <input class="form-control" id="dateFrom" type="date" ng-model="from" ng-change="onDateChange()"/>
            </div>
            <div class="col-sm-4">
                <label for="dateTo">To</label>
                <input class="form-control" id="dateTo" type="date" ng-model="to" ng-change="onDateChange()"/>
            </div>
        </div>


    <table class="table table-striped table-bordered" ng-repeat="teamItem in personalData.teams">
        <thead>
            <tr>
                <td colspan="{{teamItem.developers[0].progressDetails.length + 2}}">{{teamItem.name}}</td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="progressDetailItem in teamItem.developers[0].progressDetails"><span tooltip-placement="top"  tooltip-html-unsafe="{{progressDetailItem.date | date:'dd-MM-yyyy'}}">{{progressDetailItem.date | date:'EEE'}}</span></td>
                <td>Total</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="developerItem in teamItem.developers">
                <td>{{developerItem.name}}</td>
                <td ng-repeat="progressDetail in developerItem.progressDetails"><a class="btn btn-link" ng-click="onCellClick(progressDetail)">{{progressDetail.totalHR}}</a></td>
                <td>{{toFloat(developerItem.totalHR) | number:2}}</td>
            </tr>
        </tbody>
    </table>


</div>
