<div id="container" class="container" ng-controller="timeSheetController">
    <div class="row">
            <div class="col-sm-4">
                <label for="dateFrom">From</label>
                <input class="form-control" id="dateFrom" type="date" ng-model="from" ng-change="onDateChange()"/>
            </div>
            <div class="col-sm-4">
                <label for="dateTo">To</label>
                <input class="form-control" id="dateTo" type="date" ng-model="to" ng-change="onDateChange()"/>
            </div>
        </div>

    <!--<div class="row">-->
        <!--<table class="table" >-->
            <!--<th>-->
                <!--<tr></tr>-->
            <!--</th>-->
            <!--<tr ng-repeat="member in timeSheetData.members">-->
                <!--<td>{{}}</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
</div>
