
<form class="form-horizontal container loginForm" action="/" method="POST" name="loginForm" role="form" class="form-horizontal">
    <fieldset>
        <legend>Please enter JIRA login information and supplemental parameters</legend>
        <div class="form-group">
            <label for="input-username" class="control-label col-lg-2">Name:</label>
            <div class="col-lg-3">
                <input name="username" ng-model="username" type="text" class="form-control" id="input-username" placeholder="Name" required>
                <p class="help-block">Please enter your JIRA login</p>
            </div>
        </div>


        <div class="form-group">
            <label for="input-password" class="control-label col-lg-2">Password:</label>
            <div class="col-lg-3">
                <input name="password" ng-model="password" type="password"  class="form-control" id="input-password" placeholder="Password" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-jql">JQL Query:</label>
            <div class="col-lg-10">
                <textarea name="jqlquery" ng-model="jqlquery" type="text" class="form-control" id="input-jql" placeholder="JQL Query" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-add">Add single label:</label>
            <div class="col-lg-3">
                <input name="labelstoadd" ng-model="labelstoadd"
                       ng-disabled="labelstodelete.length > 0 ||
                       watcherstoadd.length > 0 ||
                       watcherstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-add" placeholder="Label">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-delete">Delete single label:</label>
            <div class="col-lg-3">
                <input name="labelstodelete" ng-model="labelstodelete"
                       ng-disabled="labelstoadd.length > 0 ||
                       watcherstoadd.length > 0 ||
                       watcherstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-delete" placeholder="Label">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-wadd">Add watcher:</label>
            <div class="col-lg-3">
                <input name="watcherstoadd" ng-model="watcherstoadd"
                       ng-disabled="labelstoadd.length > 0 ||
                       labelstodelete.length > 0 ||
                       watcherstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-wadd" placeholder="Watcher name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-wdelete">Delete watcher:</label>
            <div class="col-lg-3">
                <input name="watcherstodelete" ng-model="watcherstodelete"
                       ng-disabled="labelstoadd.length > 0 ||
                       watcherstoadd.length > 0 ||
                       labelstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-wdelete" placeholder="Watcher name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-assignee">Update assignee:</label>
            <div class="col-lg-3">
                <input name="assigneename" ng-model="assigneename"
                       ng-disabled="labelstoadd.length > 0 ||
                       watcherstoadd.length > 0 ||
                       labelstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       watcherstodelete.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-assignee" placeholder="Assignee name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-priority">Update priority:</label>
            <div class="col-lg-3">
                <input name="priorityname" ng-model="priorityname"
                       ng-disabled="labelstoadd.length > 0 ||
                       watcherstoadd.length > 0 ||
                       labelstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       epicstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       watcherstodelete.length > 0"
                       type="text" class="form-control" id="input-label-priority" placeholder="Priority name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-epicadd">Add Epic/Theme:</label>
            <div class="col-lg-3">
                <input name="epicstoadd" ng-model="epicstoadd"
                       ng-disabled="labelstoadd.length > 0 ||
                       labelstodelete.length > 0 ||
                       watcherstoadd.length > 0 ||
                       watcherstodelete.length > 0 ||
                       assigneename.length > 0 ||
                       epicstodelete.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-epicadd" placeholder="Epic/Theme name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" for="input-label-epicdelete">Delete Epic/Theme:</label>
            <div class="col-lg-3">
                <input name="epicstodelete" ng-model="epicstodelete"
                       ng-disabled="labelstoadd.length > 0 ||
                       watcherstoadd.length > 0 ||
                       watcherstodelete.length > 0 ||
                       labelstodelete.length > 0 ||
                       epicstoadd.length > 0 ||
                       assigneename.length > 0 ||
                       priorityname.length > 0"
                       type="text" class="form-control" id="input-label-epicdelete" placeholder="Epic/Theme name">
            </div>
        </div>

        <p class="bg-danger">Please make sure you checked your JQL and labels twice before pressing button below. <br/>
            This application does not check labels and JQL for validness.<br/>
            Only you responsible for final result and will have to perform tonns of manual work restoring labels in case of error.</p>
        <div class="row form-actions">
            <div class="col-lg-3 col-lg-offset-2">
                <button id="updatebtn" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" data-loading-text="Updating data right now...">Update</button>
                <span class="help-block error"></span>
            </div>
        </div>

        <div id="errorlog" style="word-wrap: break-word; color: #ffffff; background-color: #ff0000"></div>
        <div id="serverlog" style="word-wrap: break-word"></div>
    </fieldset>
</form>

<script type="text/javascript" src="/jsc/serverEvents2.js"></script>

<script>
    $(document.forms['loginForm']).on('submit', function () {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");
        $(":button", form).button("loading");

        $.ajax({
            url: "/updatelabels",
            data: form.serialize(),
            method: "POST",
//            complete: function () {
//                $(":submit", form).button("reset");
//            },
            statusCode: {
                200: function () {
//                    form.html("Succeed").addClass('alert-success');
//                    window.location.href = "/";
                },
                403: function (jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>
