<form class="form-horizontal loginForm" action="/auth/login" method="POST" name="loginForm" role="form">
    <fieldset>
        <legend>Please enter JIRA login information and supplemental parameters</legend>
        <div class="control-group">
            <label for="input-username" class="control-label">Name:</label>

            <div class="controls">
                <input name="username" ng-model="username" type="text" class="input-xlarge" id="input-username" placeholder="Name" required>
                <p class="help-block">Please enter your JIRA login</p>
            </div>
        </div>

        <div class="control-group">
            <label for="input-password" class="control-label">Password:</label>

            <div class="controls">
                <input name="password" ng-model="password" type="password"  class="input-xlarge" id="input-password" placeholder="Password" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-check-full">Full Update:</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="full" type="checkbox" id="input-check-full" value="true" placeholder="Full">
                    Check for full update
                </label>
            </div>
        </div>
        <div class="control-group">
            <label  for="progress" class="control-label">Progress:</label>

            <div class="controls">
                <div id="progress"><span class="bar"></span></div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" data-loading-text="Updating...">Update</button>
            <span class="help-block error"></span>
        </div>
        <div id="serverlog" style="word-wrap: break-word">
        </div>
    </fieldset>
</form>

<script type="text/javascript" src="/jsc/serverEvents.js"></script>

<script>
    $(document.forms['loginForm']).on('submit', function () {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/updatejira",
            data: form.serialize(),
            method: "POST",
//            complete: function () {
//                $(":submit", form).button("reset");
//            },
            statusCode: {
                200: function () {
//                    form.html("Succeed").addClass('alert-success');
//                    window.location.href = "/";
                },
                403: function (jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>