<div ng-controller="waveProgressController" >
    <section class="sidebar" ng-show="isShowSideBar">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Legend and filters <span class="glyphicon glyphicon-resize-small btn-link pull-right" ng-click="onToggleSideBar()"></span></h3>
            </div>
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div>
                        <img width="16" height="16" alt="Conf" src="img/duedate2.png"/> DueDate confirmed
                    </div>
                    <div>
                        <img width="16" height="16" alt="Conf" src="img/1.png"/>
                        <img width="16" height="16" alt="Conf" src="img/2.png"/>
                        <img width="16" height="16" alt="Conf" src="img/3.png"/>
                        <img width="16" height="16" alt="Conf" src="img/4.png"/>
                        <img width="16" height="16" alt="Conf" src="img/5.png"/> Priority
                    </div>
                    <div>
                        Development %
                        <div class="progress card-progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped"
                                 role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 90%">
                            </div>
                        </div>
                    </div>
                    <div>
                        Checklists creation %
                        <div class="progress card-progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                 role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 50%">
                            </div>
                        </div>
                    </div>
                    <div>
                        Functional testing %
                        <div class="progress card-progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped"
                                 role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 30%">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container"><select style="width: 150px" ng-model="filteredVersion" ng-options="version.name as version.name for version in allVersions" ng-change="filterModule()"></select>Version</div>
                    <div class="container"><select style="width: 150px" ng-model="filteredSme" ng-options="sme.name as sme.name for sme in allSMEs" ng-change="filterModule()"></select>SME</div>
                    <div class="container"><select style="width: 150px" ng-model="filteredMG" ng-options="moduleGroup.name as moduleGroup.name for moduleGroup in allModuleGroups" ng-change="filterModule()"></select>Group</div>
                    <div class="container"><select style="width: 150px" ng-model="filteredM" ng-options="module.name as module.name for module in allModules" ng-change="filterModule()"></select>Module</div>
                    <div class="container"><select style="width: 150px" ng-model="filteredTeam" ng-options="team.name as team.name for team in allTeams" ng-change="filterTeam()"></select>Team</div>
                    <div class="container"><select style="width: 150px" ng-model="filteredStream" ng-options="team.name as team.name for team in allStreams" ng-change="filterModule()"></select>Stream</div>
                </li>
                <li class="list-group-item list-group-item-info"><div class="checkbox"><label><input type="checkbox" ng-model="detailedView" ng-change="processWithRowSpans(true)"> Detailed View</label></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.deferred.isChecked" ng-change="processWithRowSpans(true)"> Deferred</label><span class="badge pull-right">{{total.deferred.count}}</span></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.open.isChecked" ng-change="processWithRowSpans(true)"> Open</label> <span class="badge pull-right">{{total.open.count}}</span></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.reopened.isChecked" ng-change="processWithRowSpans(true)"> Reopened</label><span class="badge pull-right">{{total.reopened.count}}</span></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.assigned.isChecked" ng-change="processWithRowSpans(true)"> Assigned</label> <span class="badge pull-right">{{total.assigned.count}}</span></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.inProgress.isChecked" ng-change="processWithRowSpans(true)"> In Progress</label> <span class="badge pull-right">{{total.inProgress.count}}</span></div></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.codeReview.isChecked" ng-change="processWithRowSpans(true)"> Code Review</label> <span class="badge pull-right">{{total.codeReview.count}}</span></div></li>
                <li class="readyForQA list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.readyForQA.isChecked" ng-change="processWithRowSpans(true)"> Ready for QA</label> <span class="badge pull-right">{{total.readyForQA.count}}</span></div></li>
                <li class="readyForQA list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.testingInProgress.isChecked" ng-change="processWithRowSpans(true)"> Testing In Progress</label><span class="badge pull-right">{{total.testingInProgress.count}}</span></div></li>
                <li class="blocked list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.blocked.isChecked" ng-change="processWithRowSpans(true)"> Blocked</label><span class="badge pull-right">{{total.blocked.count}}</span></div></li>
                <li class="readyForAcceptance list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.resolved.isChecked" ng-change="processWithRowSpans(true)"> Resolved</label><span class="badge pull-right">{{total.resolved.count}}</span></div></li>
                <li class="accepted list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.accepted.isChecked" ng-change="processWithRowSpans(true)"> Accepted</label><span class="badge pull-right">{{total.accepted.count}}</span></div></li>
                <li class="production list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.production.isChecked" ng-change="processWithRowSpans(true)"> Production</label></span><span class="badge pull-right">{{total.production.count}}</span></div></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"><div class="checkbox"><label><input type="checkbox" ng-model="total.all.isChecked" ng-change="onSelectDeselectAll()"> Total</label><span class="badge pull-right">{{total.total}}</span></div></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"><label>Pages</label><span class="badge">{{total.pages}}</span></li>
            </ul>
            </div>
    </section>

    <section class="sideCollapseButton" ng-show="!isShowSideBar">
        <div><span class="btn-link"> <span class="glyphicon glyphicon-resize-full" ng-click="onToggleSideBar()"></span></span></div>
    </section>

    <section ng-class="{contentShowSidebar: isShowSideBar, contentHideSidebar: !isShowSideBar}">
        <table class="table table-bordered">
            <thead class="progressTableMainHeader">
                <tr>
                    <th ng-repeat="status in allStatuses">{{status.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="status in cloudAppCards.statuses">
                        <div>
                            <sup style="color: blue">{{status.totalReported | number : 0}}/</sup>
                            <sup style="color: darkred">{{status.totalRequired | number : 0}}</sup>
                            <span style="font-style: italic">{{status.totalLeft | number : 0}}</span>
                            <span style="color: #737373">Cards:{{status.cards.length | number : 0}}</span>
                        </div>
                        <table class="table table-condensed">
                            <tr  ng-repeat = "card in status.cards">
                                <td ng-class="{
                                    blocked: card.status == 'Blocked',
                                    accepted: card.status == 'Accepted',
                                    readyForAcceptance: card.status == 'Resolved',
                                    readyForQA: card.status == 'Ready for QA' || card.status == 'Testing in Progress',
                                    cancelled: card.status == 'Canceled',
                                    production: card.status == 'Production',
                                    'bg-info': true}" style="max-width: 150px; min-width: 150px; word-break: break-all">
                                    <div class="progress card-progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="0"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 0%" ng-style="{width: card.progress + '%'}">
                                         </div>
                                    </div>
                                    <div class="progress card-progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="0"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 0%" ng-style="{width: card.checklistsProgress + '%'}">
                                        </div>
                                    </div>
                                    <div class="progress card-progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="0"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 0%" ng-style="{width: card.testingProgress + '%'}">
                                         </div>
                                    </div>
                                    <div class="disp-block">
                                        <sup style="color: blue">{{card.reportedSP | number : 0}}/</sup>
                                        <sup style="color: darkred">{{card.summarySP | number : 0}}</sup>
                                        <span style="font-style: italic">{{card.restSP | number : 0}}</span>
                                        <br/>
                                        <img ng-show="card.priority == 1" width="16" height="16" alt="Conf" src="img/1.png"/>
                                        <img ng-show="card.priority == 2" width="16" height="16" alt="Conf" src="img/2.png"/>
                                        <img ng-show="card.priority == 3" width="16" height="16" alt="Conf" src="img/3.png"/>
                                        <img ng-show="card.priority == 4" width="16" height="16" alt="Conf" src="img/4.png"/>
                                        <img ng-show="card.priority == 5" width="16" height="16" alt="Conf" src="img/5.png"/>
                                        <img ng-show="card.dueDateConfirmed" width="16" height="16" alt="Conf" src="img/duedate2.png"/>
                                        <img ng-show="card.status == exports.STATUS.BLOCKED.name" width="16" height="16" alt="Conf" src="img/ban.png"/>
                                        <img ng-show="card.status == exports.STATUS.DEFERRED.name" width="16" height="16" alt="Conf" src="img/deffered.png"/>
                                        <span style="font-style: italic">{{card.pages | number : 0}} Pages</span>
                                    </div>
                                    <a class="disp-block" href="{{card.uri}}">{{card.name}}</a>
                                    <div  ng-show="detailedView" ng-repeat="assignee in card.assignees">
                                        <div ng-if="$first"><img width="16" height="16" alt="Conf" src="img/person2.png"/>{{assignee}}</div>
                                        <div ng-if="!$first"><img width="16" height="16" alt="Conf" src="img/person.png"/>{{assignee}}</div>
                                    </div>
                                    <div ng-show="detailedView"><img width="16" height="16" alt="Conf" src="img/clockblue.png"/>{{card.devTimeSpent | number : 0}}hrs</div>
                                    <div ng-show="detailedView"><img width="16" height="16" alt="Conf" src="img/clockred.png"/>{{card.qaTimeSpent | number : 0}}hrs</div>
                                    <div ng-show="detailedView"><img width="16" height="16" alt="Conf" src="img/clocksp.png"/>{{(card.qaTimeSpent+card.devTimeSpent)/card.summarySP | number : 0}}hrs per SP</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
