<div id="container" class="container" ng-controller="waveProgressController">
    <div class="row">

        <div class="col-lg-12">
            <table class="table-bordered">
                <thead>
                <tr>
                    <td>Wave</td>
                    <td>ModuleGroup</td>
                    <td>Module</td>
                    <td>AppItem</td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "item in invertedWaveProgressData">
                        <td rowspan="{{item.wave.rowSpan}}" ng-if="isExist(item.wave)">{{item.wave.name}}:{{item.wave.progress | number : 0}}%</td>
                        <td rowspan="{{item.moduleGroup.rowSpan}}" ng-if="isExist(item.moduleGroup)" ng-class="{red: isUnknownExist(item.moduleGroup.name)}">{{item.moduleGroup.name}}:{{item.moduleGroup.progress | number : 0}}%</td>
                        <td rowspan="{{item.module.rowSpan}}" ng-if="isExist(item.module)" ng-class="{red: isUnknownExist(item.module.name)}">{{item.module.name}}:{{item.module.progress | number : 0}}%</td>
                        <td ng-if="isExist(item.appItem)" ng-class="{red: isUnknownExist(item.appItem.name)}">{{item.appItem.name}}:{{item.appItem.progress | number : 0}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!--<div class="col-sm-4">-->
            <!--<label for="dateFrom">From</label>-->
            <!--<input class="form-control" id="dateFrom" type="date" ng-model="from" ng-change="onDateChange()"/>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<label for="dateTo">To</label>-->
            <!--<input class="form-control" id="dateTo" type="date" ng-model="to" ng-change="onDateChange()"/>-->
        <!--</div>-->
    </div>

    <!--<div class="row">-->
    <!--<table class="table" >-->
    <!--<th>-->
    <!--<tr></tr>-->
    <!--</th>-->
    <!--<tr ng-repeat="member in timeSheetData.members">-->
    <!--<td>{{}}</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
</div>
