<div ng-controller="weeklyChartController">
    <div style="min-width: 310px; height: 600px;" id="container">

    </div>
    <div>
        <table class="table table-bordered" ng-repeat="year in chartsData.years">
            <thead class="bg-info">
            <th>{{year.name}}</th>
            </thead>
            <thead class="bg-info">
            <th>Team</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th ng-if="year.name == '2014'">Jun, 300SP</th>
            <th ng-if="year.name == '2015'">Jun</th>
            <th ng-if="year.name == '2014'">Jul, 340SP</th>
            <th ng-if="year.name == '2015'">Jul</th>
            <th ng-if="year.name == '2014'">Aug, 360SP</th>
            <th ng-if="year.name == '2015'">Aug</th>
            <th ng-if="year.name == '2014'">Sep, 400SP</th>
            <th ng-if="year.name == '2015'">Sep</th>
            <th ng-if="year.name == '2014'">Oct, 440SP</th>
            <th ng-if="year.name == '2015'">Oct</th>
            <th ng-if="year.name == '2014'">Nov, 440SP</th>
            <th ng-if="year.name == '2015'">Nov</th>
            <th ng-if="year.name == '2014'">Dec, 440SP</th>
            <th ng-if="year.name == '2015'">Dec</th>
            </thead>
            <tbody>
            <tr ng-class="{'bg-warning': team.name == 'Total'}" ng-repeat="team in year.teams">
                <td>{{team.name}}</td>
                <td ng-repeat="monthItem in team.months" ng-class="{readyForAcceptance: isBonusReached(year.name, $index, monthItem.total_bonus_sp) && team.name != 'Total'}">
                    {{monthItem.total_sp | number:1}}<br ng-if="team.name != 'Total'" />
                    <span ng-if="team.name != 'Total'">{{monthItem.total_bonus_sp | number:1}}</span>
                    <sub  ng-if="monthItem.dev_sp > 0">
                        <span>=</span>
                        <span title="Dev story points">{{monthItem.dev_sp || 0 | number:1}}</span>
                        <span>+</span>
                        <span class="yellow" title="QA story points">{{monthItem.qa_sp || 0 | number:1}}</span>
                        <span>+</span>
                        <span class="green" title="SME acceptance story points">{{monthItem.sme_sp || 0 | number:1}}</span>
                    </sub>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
