<div ng-controller="weeklyChartController">
    <div style="min-width: 310px; height: 600px;" id="container">

    </div>
    <div>
        <table class="table table-bordered" ng-repeat="year in chartsData.years">
            <thead class="bg-info">
            <th>{{year.name}}</th>
            </thead>
            <thead class="bg-info">
            <th>Team</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th ng-if="year.name == '2014'">Jun, 300SP</th>
            <th ng-if="year.name == '2015'">Jun</th>
            <th ng-if="year.name == '2014'">Jul, 340SP</th>
            <th ng-if="year.name == '2015'">Jul</th>
            <th ng-if="year.name == '2014'">Aug, 360SP</th>
            <th ng-if="year.name == '2015'">Aug</th>
            <th ng-if="year.name == '2014'">Sep, 400SP</th>
            <th ng-if="year.name == '2015'">Sep</th>
            <th ng-if="year.name == '2014'">Oct, 440SP</th>
            <th ng-if="year.name == '2015'">Oct</th>
            <th ng-if="year.name == '2014'">Nov, 440SP</th>
            <th ng-if="year.name == '2015'">Nov</th>
            <th ng-if="year.name == '2014'">Dec, 440SP</th>
            <th ng-if="year.name == '2015'">Dec</th>
            </thead>
            <tbody>
            <tr ng-class="{'bg-warning': team.name == 'Total'}" ng-repeat="team in year.teams">
                <td>{{team.name}}</td>
                <td>{{team.months[0] | number:1}}</td>
                <td>{{team.months[1] | number:1}}</td>
                <td>{{team.months[2] | number:1}}</td>
                <td>{{team.months[3] | number:1}}</td>
                <td>{{team.months[4] | number:1}}</td>
                <td>{{team.months[5] | number:1}}</td>
                <td>{{team.months[6] | number:1}}</td>
                <td>{{team.months[7] | number:1}}</td>
                <td>{{team.months[8] | number:1}}</td>
                <td>{{team.months[9] | number:1}}</td>
                <td ng-class="{readyForAcceptance: team.months[10] > 440 && team.name != 'Total'}">{{team.months[10] | number:1}}</td>
                <td ng-class="{readyForAcceptance: team.months[11] > 440 && team.name != 'Total'}">{{team.months[11] | number:1}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
